/*
Licented to bla
asset-builder @ 2019-04-13 18:08:36
*/

/*seg_smartphone_include.css*/

/*s-relative.css*/
/** 
* I'm a license comment (keep)
*/
#login {padding: 0;}
#testsm {background: transparent url(../assets/img/modules/module/img/asset.png) no-repeat top left; width: 100px; height: 25px; margin: 5px; border: 1px solid red;}

